.script-block
{
    font-family: 'Lucida Grande', sans-serif;
    font-size: 30px;

    width: 600px;
    height: 200px;
    margin: 50px auto;

    text-align: center;

    color: black;
    border: 3px dotted blue;
}
